@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css");


.titlebar:not(headerbar), 
headerbar { 
padding: 0 0 0 3px ;
min-height: 32px;
border: none;
background: #15539E;
}

headerbar entry,
headerbar spinbutton,
headerbar separator:not(.sidebar),
headerbar button { 
margin-top:3px;
margin-bottom: 3px;
padding-top: 1px;
padding-bottom: 1px;
}

/********************** Window Decorations * */

.solid-csd decoration { 
	margin: 0;
	padding: 0px;
	border: 3px solid #303030;
	box-shadow: inset 0 0 0 3px #303030; 
}

.solid-csd decoration:not(:backdrop) { 
	border: 3px solid #15539E;
	box-shadow: inset 0 0 0 3px #15539E; 
}
